
<h1>Novo Insumo</h1>
<form method="post">
<input name="nome" placeholder="Nome"/><br>
<input name="categoria" placeholder="Categoria"/><br>
<input name="unidade" placeholder="Unidade"/><br>
<input name="estoque_atual" type="number"/><br>
<input name="estoque_minimo" type="number"/><br>
<button>Salvar</button>
</form>
